<%= form_for(@twitter_account, :url => refinery.tweets_admin_twitter_account_path, :method => form_method) do |f| %>

<%= render '/refinery/admin/error_messages',
           :object => @twitter_account,
           :include_object_name => true %>

           <div class='field'>
             <%= f.label :username, t('refinery.plugins.refinerycms_tweets.username')%>
             <%= f.text_field :username %>
           </div>
           <% if Refinery::Tweets.config.use_twitter_widget %>
             <div class='field'>
              <%= f.label :widget_id, t('refinery.plugins.refinerycms_tweets.widget_id') %>
              <%= f.text_field :widget_id %>
             </div>
           <% end %>
           <div class='field'>
            <%= f.label :tweet_count, t('refinery.plugins.refinerycms_tweets.tweet_count') %>
            <%= f.text_field :tweet_count %>
           </div>
           <div class='field'>
            <%= f.label :visible, t('refinery.plugins.refinerycms_tweets.visible') %>
            <%= f.check_box :visible %>
           </div>

           <%= render '/refinery/admin/form_actions', :f => f,
                      :continue_editing => false,
                      :cancel_url => refinery.tweets_admin_twitter_account_path,
                      :delete_url => refinery.tweets_admin_twitter_account_path,
                      #:hide_delete => !current_refinery_user.can_delete?(@twitter_account),
                      :delete_title => t('delete', :scope => 'refinery.admin.users'),
                      :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @twitter_account.username) %>

<% end %>