<%= render "submenu" %>
<div id='records'>
  <% if @twitter_account %>
    <h2><%= t('refinery.plugins.refinerycms_tweets.account_heading') %></h2>
      <%= label_tag t('refinery.plugins.refinerycms_tweets.username') %>
      <span><%= @twitter_account.username %></span>

      <% if Refinery::Tweets.config.use_twitter_widget %>
        <%= label_tag t('refinery.plugins.refinerycms_tweets.widget_id') %>
        <span><%= @twitter_account.widget_id %></span>
      <% end %>

      <%= label_tag t('refinery.plugins.refinerycms_tweets.tweet_count') %>
      <span><%= @twitter_account.tweet_count %></span>

      <%= label_tag t('refinery.plugins.refinerycms_tweets.visible') %>
      <span><%= @twitter_account.visible? ? t('refinery.plugins.refinerycms_tweets.visible_yes') : t('refinery.plugins.refinerycms_tweets.visible_no') %></span>
  <% else %>
    <p><strong><%= t('refinery.plugins.refinerycms_tweets.no_account') %><strong></p>
  <% end %>
</div>
